# ==========================
# API Server
# ==========================
fastapi
uvicorn[standard]
python-multipart
python-dotenv


# ==========================
# Computer Vision
# ==========================
ultralytics
opencv-python-headless
numpy


# ==========================
# LangChain / Agent
# ==========================
langchain
langchain-openai
langchain-groq
langchain-community
langchain-chroma
langchain-huggingface
langgraph
jieba
groq

# ==========================
# Database
# ==========================
pymysql
cryptography


# ==========================
# RAG
# ==========================
chromadb
sentence-transformers
rank_bm25==0.2.2


# ==========================
# Utilities
# ==========================
pydantic
ragas
datasets
pandas